<% layout('layouts/default') -%>

<% block('title', 'Search results') %>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <strong>Query:</strong> <%= q %> Returned <%= results_count %> results
        </div>

        <% for(var i=0; i < notes.length; i++) { %>
            <div class="col-md-12">
                <h4><strong><%= notes[i]['title'] %></strong></h4>
                <p><%= notes[i]['description'] %></p>
                <div>
                    <a href="/note/<%= notes[i]['slug'] %>">View</a>
                    <a href="/edit/<%= notes[i]['slug'] %>">Edit</a>
                </div>
            </div>
        <% } %>
	</div>
</section>
