<% layout('layouts/default') -%>

<% block('title', 'Search results') %>

<section class="container">

    <% include partials/search %>

    <% if(q != undefined) { %>
        <div class="row mb-5">
            <strong>Query:</strong> <%= q %> Returned <%= results_count %> results
        </div>
    <% } %>

    <div class="row">
        <% for(var i=0; i < notes.length; i++) { %>
            <div class="card col-md-12 mb-5">
              <div class="card-body">
                <h5 class="card-title"><%= notes[i]['title'] %></h5>

                <blockquote class="blockquote mb-0">
                  <p><%= notes[i]['description'] %></p>
                </blockquote>

                <a href="/note/<%= notes[i]['slug'] %>" class="card-link">View Note</a>
                <a href="/edit/<%= notes[i]['slug'] %>" class="card-link">Edit</a>
              </div>
            </div>
        <% } %>
	</div>
</section>
